<section class="features">
    <div class="container inner-top">
        <div class="row">
            <div class="col-lg-8 col-md-9 mx-auto text-center animated fadeInDown">
                <header>
                    <h1>Diseño - Limpio - Responsivo</h1>
                    <p>
                        WeDev es una solución de alta calidad para aquellos que desean un hermoso sitio web en poco tiempo. Es totalmente sensible y se adaptará a cualquier dispositivo móvil, iPad, iPhone, Android, no importa. Su contenido siempre se verá absolutamente mejor.
                    </p>
                </header>
            </div>
        </div>
        <div class="row inner-top-sm">
            <div class="col-lg-3 inner-bottom-sm animated fadeIn">
                <h2>One page</h2>
                <p class="text-small">
                    Un sitio web de una página es un sitio web de una sola página HTML. Al hacer clic en los enlaces de navegación, el usuario se desplaza por la página o salta a la sección de ese contenido en particular.
                </p>
                <!-- <a href="#modal-service01" class="txt-btn" data-toggle="modal">View all possibilities</a> -->
            </div>
            <div class="col-lg-3 inner-bottom-sm animated fadeIn">
                <h2>Mobile first</h2>
                <p class="text-small">
                    Construimos su sitio web responsivo, que es un método de diseño web que permite que la web se adapte a las pantallas de diferentes dispositivos de forma automática, mostrando el contenido de manera que la gente se sienta cómoda.
                </p>
                <!-- <a href="#modal-service01" class="txt-btn" data-toggle="modal">See for yourself</a> -->
            </div>
            <div class="col-lg-6 inner-left-xs animated fadeInRight">
                <div class="image">
                    <img src="assets/images/sitios-web/service01.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container inner-top inner-bottom-sm">
        <div class="row">
            <div class="col-lg-8 col-md-9 mx-auto text-center animated fadeInDown">
                <header>
                    <h1>¿Cómo lo hacemos?</h1>
                </header>
            </div>
        </div>
        <div class="row inner-top-sm text-center">
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="far fa-lightbulb icn"></i></div>
                <h2>Planificación</h2>
                <p class="text-small">
                    Recopilamos toda la información, contenido y características en un documento de análisis y le brindamos la mejor opción que se adapte a sus necesidades.
                </p>
            </div>
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-pencil-alt icn"></i></div>
                <h2>Diseño</h2>
                <p class="text-small">
                    Creamos un prototipo de su sitio mediante diseño en HTML, este prototipo se basa en un esquema definido en su plan del proyecto y en los datos recogidos en su documento de análisis.
                </p>
            </div>
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-file-code icn"></i></div>
                <h2>Desarrollo</h2>
                <p class="text-small">
                    Una vez finalizado el diseño le damos vida al sitio web mediante código de programación.
                </p>
            </div>
        </div>
        <div class="row inner-top-sm text-center d-flex justify-content-around">
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-network-wired icn"></i></div>
                <h2>Implementación</h2>
                <p class="text-small">
                    Al finalizar el desarrollo publicamos su versión final, realizamos la publicación con el dominio oficial. Ya puede mostrar su sitio web a sus clientes y proveedores.
                </p>
            </div>
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-bullhorn icn"></i></div>
                <h2>Mantenimiento</h2>
                <p class="text-small">
                    Publicar su sitio web no es el cierre del proyecto, es apenas el inicio, analizamos constantemente las métricas establecidas para medir resultados y mejorarlo con el tiempo.
                </p>
            </div>
        </div>
        <!-- <div class="row text-center">
          <div class="col-md-4 inner-bottom-xs">
              <div class="icon"><i class="fas fa-network-wired icn"></i></div>
              <h2>Implementación</h2>
              <p class="text-small">
                  Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.
              </p>
          </div>
          <div class="col-md-4 inner-bottom-xs">
              <div class="icon"><i class="far fa-thumbs-up icn"></i></div>
              <h2>Social</h2>
              <p class="text-small">
                  Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.
              </p>
          </div>
          <div class="col-md-4 inner-bottom-xs">
              <div class="icon"><i class="fas fa-bullhorn icn"></i></div>
              <h2>Marketing</h2>
              <p class="text-small">
                  Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.
              </p>
          </div>
      </div> -->
    </div>
</section>