<section class="contact">
    <div class="container inner">
        <div class="row">
            <div class="col-lg-8 col-md-9 mx-auto text-center animated fadeInDown">
                <header>
                    <h1>Pongase en contacto</h1>
                    <p>¿Desea saber más? ¡Nos encantaría saber de usted!</p>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 outer-top-md inner-right-sm animated fadeInLeft">
                        <h2>Deje un mensaje</h2>
                        <form class="forms">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="nombre (Requerido)" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="email" name="email" class="form-control" placeholder="Email (requerido)" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" name="subject" class="form-control" placeholder="Asunto" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea name="message" class="form-control" placeholder="Ingrese un mensaje ..."></textarea>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-submit"> Enviar mesaje </button>
                        </form>
                        <div id="response"></div>
                    </div>
                    <div class="col-md-6 outer-top-md inner-left-sm border-left animated fadeInRight">
                        <h2>Contáctenos</h2>
                        <p>
                            Descubra cómo las herramientas digitales pueden ayudarlo a alcanzar el siguiente nivel en su empresa.
                        </p>
                        <h3>WeDEv</h3>
                        <ul class="contacts">
                            <li>
                                <i class="fas fa-mobile-alt"></i> +(502) 34753800
                            </li>
                            <li>
                                <i class="fas fa-mobile-alt"></i> +(502) 58327385
                            </li>
                            <li>
                                <a href="mailto:info@wedevgt.com"><i class="far fa-envelope"></i> info@wedevgt.com</a>
                            </li>
                        </ul>
                        <!-- <div class="social-network">
              <h3>Social</h3>
              <ul class="social">
                <li>
                  <a href="#"><i class="icon-s-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-s-gplus"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-s-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-s-pinterest"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-s-behance"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-s-dribbble"></i></a>
                </li>
              </ul>
            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>