<section class="portfolio-detail">
    <div class="container inner-top-md">
        <div class="row">
            <div class="col-lg-8 ">
                <div class="container-fluid">
                    <div class="card-columns">
                        <ng-container *ngFor="let item of portfolio.images | keys;">
                            <div class="card">
                                    <img class="img-fluid" [src]="portfolio.images[item]" alt="Card image top">
                            </div>
                        </ng-container>
                    
                    </div>
                </div>
                <!-- <ng-container *ngFor="let item of portfolio.images | keys;">
                <div class="class">
                        <img [src]="portfolio.images[item]" alt="" width="300">
                    </div>
                </ng-container> -->
            </div>
            <div class="col-lg-4 inner-left-sm">
                <header>
                    <h2>{{ portfolio.title }}</h2>
                    <p class="text-small">
                        {{ portfolio.detail }}
                    </p>
                    <ul class="item-details inner-top-xs outer-top-xs border-top">
                        <li><i class="far fa-calendar-alt mr-2"></i>{{ portfolio.date }}</li>
                        <li><i class="fas fa-tags mr-2"></i>{{ portfolio.category }}</li>
                        <li><i class="fas fa-user mr-2"></i>{{ portfolio.title }}</li>
                        <li>
                            <i class="fas fa-globe-americas mr-2"></i>
                            <a href="{{ portfolio.url }}">{{ portfolio.url }}</a>
                        </li>
                    </ul>
                </header>
            </div>
        </div>
    </div>
</section>