<section class="social">
    <div class="container inner-top">
        <div class="row">
            <div class="col-lg-8 col-md-9 mx-auto text-center animated fadeIn">
                <header>
                    <h1>Social Media</h1>
                    <p>
                        Nuestro trabajo es conectar a las empresas con clientes potenciales que se encuentran en las principales redes sociales (facebook e instagram). "Hacemos que las empresas sean más capaces de llegar a donde quieren ir" <br /> – Seth
                        Godin -
                    </p>
                </header>
            </div>
        </div>
        <div class="row inner-top-sm">
            <div class="col-12">
                <div class="tabs tabs-2-big-top tab-container">
                    <ul class="etabs text-center">
                        <li [ngClass]="resultados ? 'active': ''" class="tab animated fadeInLeft">
                            <div class="a" (click)="monitorizacionResultados()">
                                <h3>Monitorización de resultados</h3>
                                <p class="text-small">
                                    Mida el alcance de sus acciones de inmediato, determine su impacto real a través de las métricas y ajuste sus objetivos según los resultados para alcanzar sus metas empresariales
                                </p>
                            </div>
                        </li>
                        <li [ngClass]="marca ? 'active': ''" class="tab animated fadeInRight">
                            <div class="a" (click)="notoriedadMarca()">
                                <h3>Notoriedad de la marca</h3>
                                <p class="text-small">
                                    Aumente el reconocimiento de su marca con una presencia online para fidelizar con los usuarios. Aproveche el nicho digital, una gran parte de sus clientes potenciales posee un perfil en redes sociales.
                                </p>
                            </div>
                        </li>
                    </ul>
                    <div class="panel-container screen-container">
                        <div class="tab-content">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="image animated fadeIn">
                                        <img [src]='"assets/images/social-media/"+imgResultados+".jpg"' alt="wedev" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container inner-top inner-bottom-sm">
        <div class="row">
            <div class="col-lg-8 col-md-9 mx-auto text-center animated fadeInDown">
                <header>
                    <h1>¿Cómo lo hacemos?</h1>
                </header>
            </div>
        </div>
        <div class="row inner-top-sm text-center">
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="far fa-lightbulb icn"></i></div>
                <h2>Evaluación</h2>
                <p class="text-small">
                    El diagnóstico interno y de la competencia en redes sociales, junto a los objetivos de la empresa, brindan el punto de partida.
                </p>
            </div>
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-pencil-alt icn"></i></div>
                <h2>Objetivos</h2>
                <p class="text-small">
                    Podemos aumentar su comunidad online, incrementar ventas, fidelizar con los clientes, mejorar su reputación online.
                </p>
            </div>
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-chess-queen icn"></i></div>
                <h2>Estrategia</h2>
                <p class="text-small">
                    Utilizamos las herramientas digitales para alcanzar a su público y lograr los objetivos del negocio.
                </p>
            </div>
        </div>
        <div class="row inner-top-sm text-center">
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-network-wired icn"></i></div>
                <h2>Desarrollo</h2>
                <p class="text-small">
                    El contenido para las redes sociales: fotografía, video, infografías, concursos, encuestas, eventos, Gifs.
                </p>
            </div>
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="far fa-thumbs-up icn"></i></div>
                <h2>Social</h2>
                <p class="text-small">
                    Definimos en que momento publicar para tener mejor impacto, supervisamos y controlamos las publicaciones.
                </p>
            </div>
            <div class="col-md-4 inner-bottom-xs animated fadeIn">
                <div class="icon"><i class="fas fa-weight icn"></i></div>
                <h2>Medición</h2>
                <p class="text-small">
                    Determinamos el rendimiento del contenido y de la cuenta. Concluimos en mejores prácticas para futuras estrategias.
                </p>
            </div>
        </div>
        <!-- <div class="row text-center">
                <div class="col-md-4 inner-bottom-xs">
                    <div class="icon"><i class="fas fa-network-wired icn"></i></div>
                    <h2>Implementación</h2>
                    <p class="text-small">
                        Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.
                    </p>
                </div>
                <div class="col-md-4 inner-bottom-xs">
                    <div class="icon"><i class="far fa-thumbs-up icn"></i></div>
                    <h2>Social</h2>
                    <p class="text-small">
                        Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.
                    </p>
                </div>
                <div class="col-md-4 inner-bottom-xs">
                    <div class="icon"><i class="fas fa-bullhorn icn"></i></div>
                    <h2>Marketing</h2>
                    <p class="text-small">
                        Magnis modipsae que lib voloratati porem aut labor. Laceaque quiae sitiorem rest non restibusaes es dem tumquam core posae volor remped modis volor.
                    </p>
                </div>
            </div> -->
    </div>
</section>