<section class="header-top">
    <div class="container">
        <ul class="info">
            <li>
                <a href="#"><i class="far fa-envelope mr-1"></i> contacto@wedevgt.com</a>
            </li>
            <li><i class="fas fa-mobile-alt mr-1"></i> +(502) 34753800</li>
        </ul>
    </div>
</section>
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/inicio']">
            <img src="assets/images/logo_wedev.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sitios-web']">desarrollo web <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/social-media']">social media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/inicio']">desarrollo móvil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/portafolio']">portafolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/contacto']">contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>