<footer class="dark-bg">
    <div class="container inner">
        <div class="row">
            <div class="col-lg-4 col-md-6 inner">
                <h4>Quienes somos</h4>
                <a href="#"><img class="logo img-intext mb-3" src="assets/images/logo_white.png" alt="" /></a>
                <p>
                    Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.
                </p>
                <a href="about.html" class="txt-btn">Más acerca de nosotros</a>
            </div>
            <!-- <div class="col-lg-4 col-md-6 inner">
                <h4>Latest works</h4>
                 <div class="row thumbs gap-xs">
                    <div class="col-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/trabajos/work01.jpg" alt="" /></a>
                        </figure>
                    </div>
                    <div class="col-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/trabajos/work03.jpg" alt="" /></a>
                        </figure>
                    </div>
                    <div class="col-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/trabajos/work07.jpg" alt="" /></a>
                        </figure>
                    </div>
                    <div class="col-6 thumb">
                        <figure class="icon-overlay icn-link">
                            <a href="portfolio-post.html"><img src="assets/images/trabajos/work01.jpg" alt="" /></a>
                        </figure>
                    </div>
                </div> 
            </div>-->
            <div class="col-lg-4 col-md-6 inner">
                <h4>ponte en contacto</h4>

                <ul class="contacts">
                    <li><i class="icon-location contact"></i> +(502) 50327385</li>
                    <li><i class="icon-mobile contact"></i> +(502) 50327385</li>
                    <li>
                        <a href="#"><i class="icon-mail-1 contact"></i> info@wedev.com</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 inner">
        <h4>Recibe notificaciones</h4>
        <p>
          Ingrese su dirección de correo electrónico y reciba notificaciones
          sobre nuevos productos. ¡Odiamos el spam!
        </p>
        <form id="newsletter" class="form-inline newsletter" role="form">
          <label class="sr-only" for="exampleInputEmail"
            >Email address</label
          ><input
            type="email"
            class="form-control"
            id="exampleInputEmail"
            placeholder="ingresa tu correo"
          /><button type="submit" class="btn btn-primary">
            Suscribete
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container inner clearfix">
      <p class="float-left">© 2019 WeDev. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>