<footer>
    <section class="header-footer">
        <div class="container">
            <div class="row pb-3 pt-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="services">
                        <h4>Servicios</h4>
                        <ul class="contacts">
                            <li><a [routerLink]="['/sitios-web']"><i class="fas fa-arrow-right mr-2"></i>Desarrollo web</a></li>
                            <li><a [routerLink]="['/social-media']"><i class="fas fa-arrow-right mr-2"></i>Social Media</a></li>
                            <li><a [routerLink]="['/inicio']"><i class="fas fa-arrow-right mr-2"></i>Desarrollo Móvil</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="contacts">
                        <h4>ponte en contacto</h4>
                        <ul>
                            <li>
                                <a href="tel:+(502)34753800">
                                    <i class="fas fa-mobile-alt mr-2"></i> +(502) 34753800
                                </a>
                            </li>
                            <li>
                                <a href="tel:+(502) 58327385">
                                    <i class="fas fa-mobile-alt mr-2"></i> +(502) 58327385
                                </a>
                            </li>
                            <li><a href="mailto:ontacto@wedevgt.com"><i class="far fa-envelope mr-2"></i> contacto@wedevgt.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="who-we-are">
                        <h4>Quienes somos</h4>
                        <div class="logo-white mb-3">
                            <img src="assets/images/logo_white.png" alt="wedev" />
                        </div>
                        <p>
                            Somos una empresa dedicada al desarrollo web, apps y redes sociales para empresas y profesionales. En WeDev trabajamos de forma apasionada para que alcancemos sus objetivos. Quetzaltenango, Guatemala
                        </p>
                        <!-- <a href="about.html" class="txt-btn">Más acerca de nosotros</a> -->
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="float-left">© 2019 WeDev. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </section>
</footer>